#gamebox{
  display: flex;
  
  background-color: gray;
  flex-wrap: wrap;
  
}

.team{
  display: flex;
  flex-direction: row;
  
  
  
}

.game{
	padding: 2%;
	border: solid black 2px;
	background-color: red;
	width: 45%;
}
body{background-color: green;}

.score{
	padding: 1%;
	
}